*{
    margin: 0;
    font-family: 'Noto Sans JP', sans-serif;
}

/* header banner image styles*/
.header-image{
    background-image: url(../images/banner/banner1.png);
    height: 850px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
}

/* banner styles */
.banner{
    display: flex;
    text-align: right;
    justify-content: right;
    padding: 225px 250px 0 950px;
}
.banner-title{
    font-weight: 900;
    font-size: 65px;
    line-height: 86px;
    margin-bottom: 25px;
    color: #151414;
}
.banner-description{
    color: #444343;
    line-height: 26px;
    margin-left: 100px;
    margin-bottom: 35px;
}
.btn-primary{
    width: 165px;
    height: 65px;
    background: #F15822;
    border-radius: 5px;
    border: none;
    font-weight: 600;
    font-size: 20px;
    color: #FFFFFF;
}

/* main section */
main{
    max-width: 1140px;
    height: 800px;
    margin: 0 auto;
}
section{
    margin-top: 150px;
}

/* my failures section styles */
.failures-container{
    display: flex;
    align-items: center;
}
.image-bg{
    background-image: url(../images/bg.png);
    background-repeat: no-repeat;
    padding-right: 170px;
}
.failures-title{
    font-weight: 700;
    font-size: 40px;
    color: #151414;
    margin-top: 150px;
    margin-bottom: 25px;
}
.failures-description{
    color: #444343;
    margin-bottom: 18px;
}
ul{
    list-style: none;
    color: #444343;
    line-height: 40px;
    padding: 0;
}
ul li::before{
    content: '✓';
    margin-right: 10px;
    color: #16D887;
}

/* my plans section styles */
.my-plans-title{
    font-weight: 700;
    font-size: 40px;
    color: #151414;
    text-align: center;
    margin-bottom: 60px;
}
.plans-container{
    display: flex;
    gap: 90px;
    justify-content: center;
}
.icon-web{
   margin-left: 95px;
}
.icon-js{
   margin-left: 40px;
}
.icon-smoke{
   margin-left: 60px;
}
.icon-ecom{
   margin-left: 60px;
}
.plan-title{
    font-weight: 700;
    font-size: 30px;
    color: #151414;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 15px;
}
.plan-description{
    font-weight: 500;
    font-size: 25px;
    color: #737272;
    text-align: center;
    margin-bottom: 140px;
}
.call-now-container{
    background-image: url('../images/gradient1.png'), url('../images/watch.png');
    background-repeat: no-repeat;
    height: 300px;
    border-radius: 8px;
}
.call-now-title{
    font-weight: 700;
    font-size: 40px;
    line-height: 50px;
    color: #FFFFFF;
    position: absolute;
    margin: 55px 820px 0 65px;
}
.call-now .btn-primary{
    position: absolute;
    background: #FFFFFF;
    border-radius: 5px;
    font-weight: 600;
    font-size: 20px;
    color: #005FAC;
    margin: 180px 820px 0 65px;
}

/* footer section styles */
.future{
    display: flex;
    gap: 350px;
    position: absolute;
    background: #151414;
    width: 100%;
    height: 560px;
    left: 0%;
    margin-top: 150px;
}
.future-content{
    margin-top: 130px;
    margin-left: 310px;
}
.future-title{
    font-weight: 700;
    font-size: 45px;
    color: #F8F8F8;
    margin-bottom: 20px;
}
.future-descripetion{
    color: #FFFFFF;
    margin-bottom: 25px;
}
.email-info{
    color: #FFFFFF;
    margin-bottom: 20px;
}
.phone-info{
    color: #FFFFFF;
    margin-bottom: 35px;
}
.future-content a{
    padding-right: 20px;
}
.sub-content{
    margin-top: 130px;
}
.subscribe-title{
    font-weight: 600;
    font-size: 25px;
    color: #FFFFFF;
    margin-right: 550px;
    margin-bottom: 35px; 
}
input{
    width: 325px;
    height: 64px;
    background: #151414;
    border: 1px solid #F3F3F3;
    border-radius: 10px;
    margin-bottom: 20px;
}
::placeholder{
    font-size: 18px;
    color: #F3F3F3;
    padding-left: 20px;
}
.sub-content .btn-primary{
    font-weight: 600;
    font-size: 20px;
    color: #F15B22;
    background: #FFFFFF;
    border-radius: 8px;
    padding: 15px 35px;
}



